
extends layout
block content
  // Masthead
  //- Start "Start Section"
  header.masthead.text-white.text-center
    .container.d-flex.align-items-center.flex-column
      //- Masthead Avatar Image
      img.masthead-avatar.mb-5(
        class="masthead-avata"
        src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/avataaars.svg'
        alt=''
      )
      //- Masthead Heading
      h1.masthead-heading.text-uppercase.mb-0 Start Bootstrap
      //- Icon Divider
      .divider-custom.divider-light
        .divider-custom-line.back-light.left-line
        .divider-custom-icon
          i.fas.fa-star.color-light
        .divider-custom-line.back-light.right-line
      //- Masthead Subheading
      p.masthead-subheading.font-weight-normal.mb-0 Graphic Artist - Web Designer - Illustrator
  //- End "Start Section"
  section(id="portfolio", class="container py-5 my-5") 
      h2.page-section-heading.text-center.text-uppercase.color-dark.mb-0 Portafolio
      //- Divider
      .divider-custom.divider-light
        .divider-custom-line.back-dark.left-line
        i.fas.fa-star.color-dark
        .divider-custom-line.back-dark.right-line

  div.row
    // Portfolio Item 1
    div.col-md-6.col-lg-4
      .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal1')
        div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
          div.portfolio-item-caption-content.text-center.text-white.portafolio
            i.fas.fa-plus.fa-3x
        img.img-fluid.rounded(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cabin.png' alt='')

    // Portfolio Item 2
    div.col-md-6.col-lg-4
      div.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal2')
        div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
          div.portfolio-item-caption-content.text-center.text-white
            i.fas.fa-plus.fa-3x
        img.img-fluid.rounded(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cake.png' alt='')    
    // Portfolio Item 3
    div.col-md-6.col-lg-4
      div.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal3')
        div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
          div.portfolio-item-caption-content.text-center.text-white
            i.fas.fa-plus.fa-3x
        img.img-fluid.rounded(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/circus.png' alt='')    
    // Portfolio Item 4
    div.col-md-6.col-lg-4
      div.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal4')
        div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
          div.portfolio-item-caption-content.text-center.text-white
            i.fas.fa-plus.fa-3x
        img.img-fluid.rounded(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/game.png' alt='') 
    // Portfolio Item 5
    div.col-md-6.col-lg-4
      div.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal5')
        div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
          div.portfolio-item-caption-content.text-center.text-white
            i.fas.fa-plus.fa-3x
        img.img-fluid.rounded(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/safe.png' alt='')       
  
    // Portfolio Item 6
    div.col-md-6.col-lg-4
      div.portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal6')
        div.portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
          div.portfolio-item-caption-content.text-center.text-white
            i.fas.fa-plus.fa-3x
        img.img-fluid.rounded(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/submarine.png' alt='')    
  // About Section
  section#about.page-section.bg-sec.text-white.mb-0
    .container
      // About Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-white About
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line.back-light.left-line
        .divider-custom-icon
          i.fas.fa-star.color-light
        .divider-custom-line.back-light.right-line
      // About Section Content
      .row
        .col-lg-4.ml-auto
          p.lead
            | Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        .col-lg-4.mr-auto
          p.lead
            | You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!
      // About Section Button
      .text-center.mt-4
        a.btn.btn-xl.btn-outline-light(href='https://startbootstrap.com/themes/freelancer/')
          i.fas.fa-download.mr-2
          |           Free Download!
  //- Start Contact Section
  section#contact.page-section
    .container
      //- Contact Section Heading
      h2.page-section-heading.text-center.text-uppercase.color-dark.mb-0 Contact Me
      //- Icon Divider
      .divider-custom.divider-light
        .divider-custom-line.back-dark.left-line
        .divider-custom-icon
          i.fas.fa-star.color-dark
        .divider-custom-line.back-dark.right-line
      //- Contact Section Form
      .row
        .col-lg-8.mx-auto
          //- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
          form#contactForm.error(name='sentMessage', novalidate='novalidate', onsubmit="return validateForm()")
            .control-group.error
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                input#name.form-ctrl(
                  type='text',
                  placeholder="Name",
                  required='required',
                  data-validation-required-message='Please enter your name.'
                  onkeyup="validateInput('name')"
                )
                label.form-control-placeholder(onclick="focusInput('name')") Name
                p.help-block
                  ul(role='alert')
                    li#nameError.text-danger Please enter your name.
            .control-group.error
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                input#email.form-ctrl(
                  type='email',
                  placeholder="Email Address",
                  required='required',
                  data-validation-required-message='Please enter your email address.'
                  onkeyup="validateInput('email')"
                )
                label.form-control-placeholder(onclick="focusInput('email')") Email Address
                p.help-block
                  ul(role='alert')
                    li#emailError.text-danger Please enter your email address.
            .control-group.error
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                input#phone.form-ctrl(
                  type='tel',
                  placeholder="Phone Number",
                  required='required',
                  data-validation-required-message='Please enter your phone number.'
                  onkeyup="validateInput('phone')"
                )
                label.form-control-placeholder(onclick="focusInput('phone')") Phone Number
                p.help-block
                  ul(role='alert')
                    li#phoneError.text-danger Please enter your phone number.
            .control-group.error
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                textarea#message.form-ctrl(
                  rows='5',
                  placeholder="Message",
                  required='required',
                  data-validation-required-message='Please enter a message.'
                  onkeyup="validateInput('message')"
                )
                label.form-control-placeholder(onclick="focusInput('message')") Message
                p.help-block
                  ul(role='alert')
                    li#messageError.text-danger Please enter a message.
            br
            #success
            .form-group
              button#sendMessageButton.btn.btn-xl(type='submit') Send
  //Footer
  footer.footer.text-center
    .container
      .row
        //footer location
        .col-lg-4.mb-5.mb-lg-0
          h4.text-uppercase.mb-4 Location
          p.lead.mb-0
            | 2215 Mexico Drive
            br
            | Tpc, Nay 63000
        //footer social Icons
        #socialM.col-lg-4.mb-5-mb-lg-0
          h4.text-uppercase.mb-4 Around the Web
          a.btn.btn-outline-light.btn-social.mx-1(href='http://www.facebook.com', target="_blank")
            i.fab.fa-fw.fa-facebook-f
          a.btn.btn-outline-light.btn-social.mx-1(href='http://www.twitter.com', target="_blank")
            i.fab.fa-fw.fa-twitter
          a.btn.btn-outline-light.btn-social.mx-1(href='http://www.linkedin.com', target="_blank")
            i.fab.fa-fw.fa-linkedin-in
          a.btn.btn-outline-light.btn-social.mx-1(href='http://www.dribbble.com', target="_blank")
            i.fab.fa-fw.fa-dribbble
        // Footer About Text
        .col-lg-4
          h4.text-uppercase.mb-4 About Freelancer
          p.lead.mb-0
            | Freelance is a free to use, MIT licensed Bootstrap theme created by 
            a(href='http://startbootstrap.com') Start Bootstrap
            | . 
  div#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal1Label' style='display: none;' aria-hidden='true')
      div.modal-dialog.modal-xl(role='document')
        div.modal-content
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true')
              i.fas.fa-times
          div.modal-body.text-center
            div.container
              div.row.justify-content-center
                div.col-lg-8
                  // Portfolio Modal - Title
                  h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Log Cabin
                  // Icon Divider
                  div.divider-custom
                    div.divider-custom-line.back-dark.left-line
                    div.divider-custom-icon
                      i.fas.fa-star.color-dark
                    div.divider-custom-line.back-dark.right-line
                  // Portfolio Modal - Image
                  img.img-fluid.rounded.mb-5(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cabin.png' alt='')
                  // Portfolio Modal - Text
                  p.mb-5
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                  button.btn.btn-primary(href='#' data-dismiss='modal')
                    i.fas.fa-times.fa-fw
                    |                   Close Window
  div#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal2Label' style='display: none;' aria-hidden='true')
      div.modal-dialog.modal-xl(role='document')
        div.modal-content
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true')
              i.fas.fa-times
          div.modal-body.text-center
            div.container
              div.row.justify-content-center
                div.col-lg-8
                  // Portfolio Modal - Title
                  h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Cake
                  // Icon Divider
                  div.divider-custom
                    div.divider-custom-line.back-dark.left-line
                    div.divider-custom-icon
                      i.fas.fa-star.color-dark
                    div.divider-custom-line.back-dark.right-line
                  // Portfolio Modal - Image
                  img.img-fluid.rounded.mb-5(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cake.png' alt='')
                  // Portfolio Modal - Text
                  p.mb-5
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                  button.btn.btn-primary(href='#' data-dismiss='modal')
                    i.fas.fa-times.fa-fw
                    |                   Close Window
  div#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal3Label' style='display: none;' aria-hidden='true')
      div.modal-dialog.modal-xl(role='document')
        div.modal-content
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true')
              i.fas.fa-times
          div.modal-body.text-center
            div.container
              div.row.justify-content-center
                div.col-lg-8
                  // Portfolio Modal - Title
                  h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Circus
                  // Icon Divider
                  div.divider-custom
                    div.divider-custom-line.back-dark.left-line
                    div.divider-custom-icon
                      i.fas.fa-star.color-dark
                    div.divider-custom-line.back-dark.right-line
                  // Portfolio Modal - Image
                  img.img-fluid.rounded.mb-5(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/circus.png' alt='')
                  // Portfolio Modal - Text
                  p.mb-5
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                  button.btn.btn-primary(href='#' data-dismiss='modal')
                    i.fas.fa-times.fa-fw
                    |                   Close Window
  div#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal4Label' style='display: none;' aria-hidden='true')
      div.modal-dialog.modal-xl(role='document')
        div.modal-content
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true')
              i.fas.fa-times
          div.modal-body.text-center
            div.container
              div.row.justify-content-center
                div.col-lg-8
                  // Portfolio Modal - Title
                  h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Controller
                  // Icon Divider
                  div.divider-custom
                    div.divider-custom-line.back-dark.left-line
                    div.divider-custom-icon
                      i.fas.fa-star.color-dark
                    div.divider-custom-line.back-dark.right-line
                  // Portfolio Modal - Image
                  img.img-fluid.rounded.mb-5(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/game.png' alt='')
                  // Portfolio Modal - Text
                  p.mb-5
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                  button.btn.btn-primary(href='#' data-dismiss='modal')
                    i.fas.fa-times.fa-fw
                    |                   Close Window
  div#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal5Label' style='display: none;' aria-hidden='true')
      div.modal-dialog.modal-xl(role='document')
        div.modal-content
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true')
              i.fas.fa-times
          div.modal-body.text-center
            div.container
              div.row.justify-content-center
                div.col-lg-8
                  // Portfolio Modal - Title
                  h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Locked Safe
                  // Icon Divider
                  div.divider-custom
                    div.divider-custom-line.back-dark.left-line
                    div.divider-custom-icon
                      i.fas.fa-star.color-dark
                    div.divider-custom-line.back-dark.right-line
                  // Portfolio Modal - Image
                  img.img-fluid.rounded.mb-5(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/safe.png' alt='')
                  // Portfolio Modal - Text
                  p.mb-5
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                  button.btn.btn-primary(href='#' data-dismiss='modal')
                    i.fas.fa-times.fa-fw
                    |                   Close Window
  div#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal6Label' style='display: none;' aria-hidden='true')
      div.modal-dialog.modal-xl(role='document')
        div.modal-content
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true')
              i.fas.fa-times
          div.modal-body.text-center
            div.container
              div.row.justify-content-center
                div.col-lg-8
                  // Portfolio Modal - Title
                  h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Submarine
                  // Icon Divider
                  div.divider-custom
                    div.divider-custom-line.back-dark.left-line
                    div.divider-custom-icon
                      i.fas.fa-star.color-dark
                    div.divider-custom-line.back-dark.right-line
                  // Portfolio Modal - Image
                  img.img-fluid.rounded.mb-5(src='https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/submarine.png' alt='')
                  // Portfolio Modal - Text
                  p.mb-5
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                  button.btn.btn-primary(href='#' data-dismiss='modal')
                    i.fas.fa-times.fa-fw
                    |                   Close Window 
